.main-detail-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
   position: relative;
    gap: 1vw;
}
@media screen and (max-width:1023px) and (min-width:768px) {
    .main-detail-page{
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    
}